{{ $links := slice }}
{{ with .Params.route }}
    {{ with .name }}
    <div>Route: {{.}}</div>
    {{ end}}
        
    {{ $type := .type }}
    {{ with .distance }}
    <div>Distance: {{.}} miles {{ if $type }} {{$type}} {{ else }} out and back{{end}}</div>
    {{ end}}
    {{ with .elevationGain }}
    <div>Elevation Gain: {{.}} feet ({{ math.Round (math.Mul . 0.3048 )}} Meters)</div>
    {{ end}}

    {{ with .forestService }}
    {{ $links = append (dict "name" "Forest Service" "link" .)  $links}}
    {{ end }}

    {{ with .otherAgency }}
    {{ $links = append (dict "name" .name  "link" .link)  $links}}
    {{ end }}

    {{ with .allTrails }}
    {{ $links = append (dict "name" "All Trails" "link" .)  $links}}
    {{ end }}
        
    {{ with $links}}
    <div>Links:
    {{range $i, $val := $links}}
        {{ if gt $i 0 }} | {{ end }}
        <a href="{{$val.link}}">{{$val.name}}</a>
        {{ end }}
    </div>
    {{ end }}
{{end}}