{{ define "main" }}
<h1>{{ .Title }}, {{ .Params.State }}</h1>
<h2>
    Elevation {{ .Params.Elevation }} Feet ({{ math.Round (math.Mul
    .Params.Elevation 0.3048 )}} Meters)
</h2>

<div class="image-grid">
{{ range .Params.images }}
{{ $image := $.Page.Resources.Get .name }}
{{ with $image }}
    {{ $foo := $image.Resize "600x" }}
    {{ with $foo }}
    <img src="{{ .RelPermalink }}" class="img-responsive gallery-image">
    {{ end }}
{{ end }}
{{end}}
</div>
{{ .PublishDate.Format "Jan. 2, 2006" }} {{ with .Params.linkedin }} //
<a href="{{ . }}">Linkedin</a> {{ end }} {{ with .Params.twitter }} //
<a href="{{ . }}">Twitter</a>
{{ end }}
<br /><br />
{{ .Content }} {{ $image := .Resources.Get "sunset.jpg" }} {{ end }}
