<!-- image -->
{{ $imgSrc := .Get "src" }}

<!-- Width-->
{{ $widthVal := .Get "width" }}
{{ if not $widthVal }}
{{ $widthVal = 400 }}
{{ end }}

<figure {{ with .Get "class" }}class="{{ . }}"{{ end }}>
      <a href="https://images.zachmaillard.xyz/{{$imgSrc}}">
      <img class="diagram" src="https://images.zachmaillard.xyz/cdn-cgi/image/width={{$widthVal}},quality=100/{{ $imgSrc }}"  {{ if or (.Get "alt") (.Get "caption") }}alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" }}{{ end }}"{{ end }} />
      </a>
      {{ if or (or (.Get "title") (.Get "caption")) (.Get "attr") }}
        <figcaption>{{ if isset .Params "title" }}
          <h4>{{ .Get "title" }}</h4>{{ end }}
          {{ if or (.Get "caption") (.Get "attr") }}<p>
          {{ .Get "caption" }}
          {{ with .Get "attrlink" }}<a href="{{ . }}"> {{ end }}
            {{ .Get "attr" }}
          {{ if .Get "attrlink" }}</a> {{ end }}
          </p> {{ end }}
        </figcaption>
    {{ end }}
  </figure>
  <!-- image -->